.container {
  justify-content: center;
  width: 80%;
  text-align: center;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
}

/* hi */

input {
  margin-right: 10px;
  border: 0px;
  padding: 10px;
  font-size: 15px;
  font-family: "Trebuchet MS", sans-serif;
  border-radius: 5px;
}

button {
  margin: 10px auto;
  border: 0px;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(75, 192, 192, 1);
  cursor: pointer;
  font-size: 20px;
}
button:hover {
  opacity: 0.6;
}
